h1,h2,p,body
{
    margin: 0px;
    padding: 0px;
}


.content__card__body
{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
}


.content__card__img img
{
    width: 70%;
}

.content__card__text
{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color : #1D1D1F;
}

.content__card__text p
{
    margin-top: 20px;
}

.content__card__btn:hover
{
    cursor: pointer;
}

.content__card__btn
{
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color : #1D1D1F;
}
.header
{
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.header a 
{
    padding-left : 20px;
    font-size: 22px;
    font-family: "SourceRegular";
    color : #1D1D1F;
    text-decoration: none;
}

.header__last-link
{
    position: absolute;
    right: 10%;
    text-align: right;
}

.header a:hover
{
    text-decoration: underline #1D1D1F;
}